*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:linear-gradient(#7ea2ff,#78d1c5);
min-height:100vh;
padding:40px;
}


.title{
text-align:center;
color:white;
margin-bottom:25px;
font-size:28px;
}


.container{    
max-width:1100px;
margin:auto;
display:grid;
grid-template-columns:350px 1fr;
gap:25px;
}

.container h1{
    color:rgb(235, 237, 240);
}

.eventForm{
background:#eef1f6;
padding:25px;
border-radius:18px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.eventForm form{
display:flex;
flex-direction:column;
}

.eventForm input,
.eventForm select,
.eventForm textarea{
padding:10px;
margin-bottom:15px;
border-radius:8px;
border:1px solid #ccc;
}


button{
background:linear-gradient(#69b2ee);
color:white;
border:none;
padding:12px;
border-radius:10px;
font-weight:600;
cursor:pointer;
margin-top:5px;
}


.events{
background:#eef1f6;
padding:25px;
border-radius:18px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
min-height:250px;
}

.events button{
margin-right:10px;
margin-bottom:15px;
}


.cards{
display:flex;
flex-wrap:wrap;
gap:18px;
}

.card{
background:linear-gradient(180deg,#e3e8ff,#cfd7ff);
width:230px;
padding:18px;
border-radius:18px;
position:relative;
box-shadow:0 8px 18px rgba(0,0,0,0.18);
}

.deleteCard{
position:absolute;
top:10px;
right:10px;
background:#ff6b6b;
color:white;
width:25px;
height:25px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
}


.dom{
grid-column:1/3;
background:#eef1f6;
padding:25px;
border-radius:18px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
min-height:150px;
}
